.intro-container {
  width: 100%;
  margin: 20px auto;
}

input {
  width: 800px;
}

.error-text {
  color: red;
  margin: 0;
}

iframe {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}