#screen-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
  display: none;

  animation: fade-in 3s ease-in;
}

h1 {
  margin-bottom: 20px;
}

#level-name {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

#level-location {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  margin: 5px 0 10px 0;
}

#level-quote {
  font-size: 20px;
  margin-top: 0;
}

#final-img {
  background-color: #fff;
  image-rendering: pixelated;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 3px;
  box-shadow: #000 0 0 8px;
}

#ref-img {
  height: 120px;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: #000 0 0 8px;
  transition-duration: 0.2s;
  margin-bottom: 20px;
}

#ref-img:hover {
  height: 360px;
}
