html {
  font-family: "Fira Sans", Arial, sans-serif;
  font-weight: 400;
	color: #00264d;
  background-color: #f2f2f2;
  /* background-image: linear-gradient(#f2f2f2, #c0c0c0); */
}

.index-title {
	font-size: 90px;
	letter-spacing: 3px;
	color: #0066cc;
}

.index-subtitle {
	font-size: 32px;
	color: #00264d;
}

a.index-subtitle:hover {
	color: #0000aa;
}
