html {
  font-family: "Fira Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
	color: #00264d;
  background-color: #f2f2f2;
  /* background-image: linear-gradient(#f2f2f2, #c0c0c0); */
}

h2 {
  font-size: 42px;
	color: #00264d;
}

.index-title {
	font-size: 72px;
	letter-spacing: 3px;
	color: #0066cc;
}

.index-subtitle {
	font-size: 38px;
	color: #00267d;
}

a.index-subtitle:hover {
	color: #0000aa;
}

.index-paragraph {
  font-size: 30px;
}

.index-img {
  max-width: 400px;
  float: right;
  border: solid;
  box-shadow: 0 0 10px 5px gray;
  padding: 10px;
  margin: 20px;
}

.footer-imgs {
  max-width: 200px;
  margin: auto;
  transition-duration: 0.15s;
}

.footer-imgs:hover {
  filter: brightness(50%);
}

.proj-img {
  margin-left: 10px;
  margin-right: 10px;
  background-size: contain;
}

.proj-img img {
  margin: auto;
  border: solid;
}

.proj-img p {
  text-align: center;
	font-size: 16px;
	color: #bbbbbb;
}

.quote-text {
  border: solid;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15vw;
  margin-right: 15vw;
  color: #999999;
  font-style: italic;
  font-size: 28px;
}

.hidden-link {
  color: #4a4a4a;
}

.hidden-link:hover {
  cursor: text;
  color: #4a4a4a;
}

ol {
  padding-left: 35px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.code-btn {
  color: black;
  background-color: #1a8cff;
  width: 7em;
  transition-duration: 0.3s;
}

.download-btn {
  color: black;
  background-color: #ffb84d;
  width: 7em;
  transition-duration: 0.3s;
}

.web-btn {
  color: black;
  background-color: #ff3333;
  width: 7em;
  transition-duration: 0.3s;
}

.code-btn:hover {
  color: white;
  background-color: #0059b3;
  box-shadow: 0 0 10px 5px gray;
}

.download-btn:hover {
  color: white;
  background-color: #ff9900;
  box-shadow: 0 0 10px 5px gray;
}

.web-btn:hover {
  color: white;
  background-color: #b30000;
  box-shadow: 0 0 10px 5px gray;
}

@media only screen and (max-width: 600px) {
  .index-title {
    font-size: 11vw;
    letter-spacing: 0.5vw;
  }

  .index-img {
    float:none;
    margin: auto;
    margin-bottom: 20px;
  }

  .index-paragraph {
    font-size: 18px;
  }

  .quote-text {
    font-size: 18px;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media only screen and (max-width: 350px) {
  .index-subtitle {
    font-size: 10vw;
  }

  h2 {
    font-size: 10vw;
  }
}
