html {
  height: 100%;
}

body {
  height: 97%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#fff 30%, #ccc 70%, #aaa 100%);
}
