.proj-container {
  width: 33%;
  position: relative;
  margin: 10px;
}

.proj-i {
  transition-duration: 0.3s;
}

.proj-container:hover > .proj-i {
  filter: blur(4px) opacity(35%);
}

.award-winning {
  filter: drop-shadow(0px 0px 20px yellow);
}

.under-construction {
  filter: drop-shadow(0px 0px 20px red);
}

.desc-text {
  border: solid;
  position: absolute;
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 2vw;
  padding-left: 25px;
  padding-right: 25px;
  transition-duration: 0.5s;
  opacity: 0
}

.desc-text:hover {
  opacity: 1
}
