.proj-container {
  width: 33%;
  position: relative;
  margin: 10px;
  filter: drop-shadow(0px 0px 10px black);
}

.proj-i {
  transition-duration: 0.3s;
}

.proj-container:hover > .proj-i {
  filter: blur(4px) opacity(35%);
}

.desc-text {
  border: solid;
  position: absolute;
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 2vw;
  padding-left: 25px;
  padding-right: 25px;
  transition-duration: 0.5s;
  opacity: 0;
  background-color: #fffa;
}

.desc-text:hover {
  opacity: 1
}

.popup-background-hidden {
  opacity: 0 !important;
  transform: translateY(10px) !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.popup-background {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0004;
  transition-duration: 0.5s;
}

.popup {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border: solid 4px #000;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.popup-content-container {
  left: 20%;
  top: 10%;
  right: 20%;
  bottom: 10%;
  padding: 20px 0;
  text-align: center;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.link-container > .popup-link-button:nth-child(2) {
  margin-left: 150px;
}

.popup-link-button {
  max-height: 100px;
  transition-duration: 0.15s;
}

.popup-link-button > img {
  max-height: 100px;
}

.popup-link-button:hover {
  filter: brightness(150%);
}

.popup-link-button-disabled {
  cursor: initial !important;
}

.popup-link-button-disabled:hover {
  filter: brightness(100%) !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  background-color: #000b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 12px;
  white-space: nowrap;
  transition-duration: 0.15s;

  position: absolute;
  z-index: 1;
  top: 80px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
