.container {
  width: 1000px;
  text-align: center;
  height: 100%;
}

.centered-container {
	max-width: 700px;
	max-height: 200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.btn-submit {
	margin: 10px;
}

.btn-disabled {
	border-color: #dddddd;
	background-color: #dddddd;
	cursor: initial;
	color: #ffffff;
}

.btn-disabled:hover {
	border-color: #dddddd;
	background-color: #dddddd;
	cursor: initial;
	color: #ffffff;
}

.btn-disabled:focus {
	box-shadow: none;
}

.error-text {
	color: #cc0000;
}

.success-text {
	color: #00cc00;
}