.progress-container {
  margin: 20px;
}

.progress-label {
  text-align: left;
}

.loading-container {
  transition-duration: 0.5s;
}

.loading-container-hidden {
  opacity: 0 !important;
  transform: translateY(10px) !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.spotify-text {
  font-size: 24px;
}

.podcast-container {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.podcast-container:nth-child(1) {
  margin-left: 10px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.podcast-choice {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

.podcast-container:hover input[type="radio"] ~ .podcast-choice {
  background-color: #ccc;
}

.podcast-container input[type="radio"]:checked ~ .podcast-choice {
  background-color: #ddd;
  transform: scale(1.2);
}

.podcast-choice:after {
  content: "";
  position: absolute;
  display: none;
}

.podcast-choice {
  transition-duration: 0.1s;
  cursor: pointer;
}

.podcast-choice:hover {
  transform: scale(1.2);
}

.yes {
  color: #00ff00;
}

.nope {
  color: #ff0000;
}

.spinner {
  width: 100px;
  height: 100px;
  font-size: 40px;
  margin: 20px;
}

.spotify-selection-container {
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #ddd;
}

.sync-btn-container {
  position: relative;
}

.btn-sync {
  position: absolute;
  top: -10px;
  right: 0;
}

.spotify-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spotify-selection-cell {
  padding: 10px;
  margin: 0 20px;
}

.spotify-selection-cell-selectable {
  width: 30%;
  border-radius: 5px;
  transition-duration: 0.2s;
  cursor: pointer;
  margin: 0 5px 15px 5px;
}

.spotify-selection-cell-selectable:hover {
  background-color: #ccc;
  transform: scale(1.02);
}

.spotify-selection-cell-active {
  background-color: #aaa !important;
  transform: scale(1.02);
}

.spotify-selection-cell img {
  width: 100%;
  margin-bottom: 5px;
}

.spotify-selection-cell p {
  margin: 0;
  line-height: 1rem;
}

.no-results-text {
  margin: 20px 0 46px 0;
  font-size: 20px;
  color: #555;
}

.no-results-text > b {
  font-size: 24px;
}

.spotify-selection-input-container {
  display: flex;
  margin-bottom: 5px;
}

.spotify-selection-input-container p {
  margin: auto;
  margin-left: 5px;
  font-size: 20px;
}

.spotify-selection-input-container input {
  margin: 0 5px;
  flex-grow: 2;
}

.spotify-popup-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0004;
}

.spotify-popup {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border: solid 4px #000;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.spotify-token-popup {
  left: 20%;
  top: 10%;
  right: 20%;
  bottom: 10%;
  padding: 20px 0;
}

.spotify-iframe {
  position: initial;
  width: 90%;
  height: 100%;
  margin: auto;
}

.spotify-token-form-container {
  width: 90%;
  margin: auto;
  margin: 20px auto 5px auto;
  display: flex;
}

.spotify-token-form-container input {
  flex-grow: 2;
  margin-right: 5px;
}

.spotify-link-popup {
  left: 40%;
  top: 20%;
  right: 40%;
  bottom: auto;
  padding: 20px 0;
}

.spotify-link-popup > p {
  font-size: 20px;
  margin: 0;
}

.spotify-link-form-container {
  margin: 20px auto 5px auto;
  display: flex;
  justify-content: space-around;
}

.spotify-link-form-container button:first-child {
  margin-right: 10px;
}
