.dates {
  color: gray;
  font-size: 26px;
}

h3 {
  font-size: 32px;
}

img {
  border: solid;
  margin: 10px;
  margin-top: 0px;
}

a > img {
  border-color: #444444;
}

.about-btn {
  transition-duration: 0.1s;
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 10px;
}

.about-btn:hover {
  /* font-size: 52px; */
  letter-spacing: 2px;
}

.about-btn-selected {
  /* font-size: 52px; */
  letter-spacing: 2px;
  filter: brightness(150%);
}

@media only screen and (max-width: 400px) {
  .about-btn {
    font-size: 9vw;
  }

  .about-btn:hover {
    font-size: 10vw;
  }

  .about-btn-selected {
    font-size: 10vw;
  }
}
