html {
  height: 100%;
  background-image: linear-gradient(144deg, #434343 0%, black 100%);
}

body {
  height: 95%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

@keyframes flash-white {
  from {
    color: #bbb;
  }

  50% {
    color: #fff;
  }

  to {
    color: #bbb;
  }
}

h1, p {
  color: #bbb;
  animation: flash-white 2s infinite;
}

p {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}

#status-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  transition-timing-function: ease-out;
}

#progress-bar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 100%;
}

#progress-bar {
  vertical-align: middle;
  margin: auto;
  height: 50px;
  width: 85%;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

#progress-bar-progress {
  position: relative;
  left: 0;
  height: 100%;
  transition: 0.5s;
  background-image: linear-gradient(to right, #ff512f, #f09819);
}